<!DOCTYPE html>
	<html>
		<head>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<!-- Script -->
		<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
		<script type="text/javascript">

		 var colours = [
		    { name: 'Yellow', hex: '#FFFF00' },
		    { name: 'LawnGreen', hex: '#7CFC00' },
		    { name: 'Aqua', hex: '#00FFFF' }
		];

		$(function()
		{
		    $(document).on('click', '.colorItem', function()
		    {
		         $('.activeColour').css('background-color', $(this).css('background-color'));
		    });

		    var $palette = $("#palette");
		    for (var i = 0; i < colours.length; i++)
		    {
		        $palette.append($('<li class="colorItem" />').css('background-color', colours[i].hex));
		    }
		    
		    $('input[type="color"]').change(function() {
		    	  $('.activeColour').css('background-color', this.value);
		    });
		});
		</script>
		<body>
			 <header>
      			<div class="inner">
      				<div style="float: left;">
      					<a href="{{ '/' | absolute_url }}">
	    	      		<h1>{{ site.title | default: site.github.repository_name }}</h1>
    	    			</a>
        				<h2>{{ site.description | default: site.github.project_tagline }}</h2>
      				</div>
        			<div>
        				<a href="https://github.com/Rahul-chunduru">
        				<img id="avatar" src="assets/images/charmander.png" alt="">
        				</a>   
        			</div>
        		</div>
    		</header>
    		<div class="main-body">
    		<div class="nav-div">
			<nav>
	    		<ul>
	        		<a href="index"><li>Home</li></a>
		        	<a href="about"><li>About</li></a>
	        		<a href="blog"><li>Blog</li></a>
	        		<a href="cv"><li>CV</li></a>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div>
			
			<footer>
	    			<!-- should be theme set -->
	        		Choose colours
	        		<ul id="palette"></ul>
					<div class="activeColour"></div>
			</footer>
		</div>
		</body>
	</html>
