<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- javascript files -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="script.js"></script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			 <header>
			 	<div class="inner">
      				<div id ="header-wrapper">
      					<a href="{{ '/' | absolute_url }}">
						<h1>{{ site.title | default: site.github.repository_name }}</h1>
    	    			</a>
						<h2>{{ site.description | default: site.github.project_tagline }}</h2>
      				</div>
        			<div id="avatar-wrapper">
        				<a href="https://github.com/Rahul-chunduru">
        				<img id="avatar" src="assets/images/charmander.png" alt="">
        				</a>   
        			</div>
        		</div>
    		</header>
    	<div class="main-body">
    		<div class="nav-div">
			<nav>
	    		<ul>
	        		<a href="index" class="nav-bar-link"><li>Home</li></a>
		        	<a href="about" class="nav-bar-link"><li>About</li></a>
	        		<a href="misc" class="nav-bar-link"><li>Misc</li></a>
	        		<a href="assets/resume.pdf"><li>CV</li></a>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			<footer>
				<div style="float:left; margin: 10px;">
					choose website colour
				</div><ul id="palette"></ul>
			</footer>
			</div>
		</div>
	</body>
</html>