<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			 <header>
      			<div class="inner">
        		<a href="{{ '/' | absolute_url }}">
          		<h1>{{ site.title | default: site.github.repository_name }}</h1>
        		</a>
        		<h2>{{ site.description | default: site.github.project_tagline }}</h2>
        		</div>
        		<img src="assets/images/charmander.png" alt="" style="float: right;">
    		</header>
    		<div class="main-body">
    		<div class="nav-div">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chundururahul@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Rahul-chunduru">github.com/Rahul-chunduru</a></li>
				</ul>
			</footer>
		</div>
		</body>
	</html>
